:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  background-color: var(--ig-gray-100);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding: 12px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-300);
  border-width: 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 16px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
}
.page-title {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
}
.filters-and-sorting {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  flex-shrink: 0;
}
.group_3 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
}
.form_fields {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  overflow: auto;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
}
.avatar {
  --igx-avatar-background: rgba(71, 124, 41, 0.2);
}
.icon {
  color: var(--ig-success-500);
}
.h6 {
  height: max-content;
  min-width: min-content;
}
.icon_1 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.hyperlink {
  color: var(--ig-info-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
}
.avatar::part(base) {
  --igx-avatar-color: var(--ig-success-500);
}
.button {
  height: max-content;
  flex-shrink: 0;
}
.user-input {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.form {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 8px 0 0;
  width: max-content;
  height: 576px;
  min-width: 50px;
  min-height: 50px;
  max-height: 576px;
}
.input {
  flex-grow: 1;
  flex-basis: 0;
}
.button_1 {
  --ig-size: var(--ig-size-medium);
}
.grid {
  --ig-size: var(--ig-size-medium);
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
