:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  background-color: var(--ig-gray-100);
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 12px;
  overflow: auto;
  position: relative;
  padding: 12px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 12px;
  position: relative;
  min-width: 280px;
  min-height: 50px;
  flex-grow: 2;
  flex-basis: 0;
}
.group_2 {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-200);
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 16px 16px 24px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_3 {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-300);
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  padding: 16px 16px 24px;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 12px;
  position: relative;
  min-width: 280px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_5 {
  background-color: var(--ig-surface-500);
  border-color: var(--ig-gray-300);
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  overflow: auto;
  position: relative;
  padding: 16px 16px 24px;
  min-width: 50px;
  max-height: 428px;
  flex-shrink: 0;
}
.group_6 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_7 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_8 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  flex-shrink: 0;
}
.group_9 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  padding: 0 0 8px;
  min-width: 50px;
  min-height: 50px;
}
.group_10 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  min-width: 50px;
  flex-shrink: 0;
}
.group_11 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  min-width: 50px;
  flex-shrink: 0;
}
.group_12 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: -2px;
  position: relative;
  min-width: 50px;
  flex-shrink: 0;
}
.group_13 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 2px;
  position: relative;
  min-width: 50px;
}
.text {
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  text-align: right;
  color: var(--ig-primary-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
}
.avatar {
  --ig-size: var(--ig-size-small);
  --igx-avatar-background: rgba(71, 124, 41, 0.2);
}
.icon {
  color: var(--ig-success-500);
}
.hyperlink_1 {
  color: var(--ig-primary-500);
  cursor: pointer;
  height: max-content;
  min-width: min-content;
}
.text_1 {
  color: var(--ig-gray-800);
  height: max-content;
  min-width: min-content;
}
.text_2 {
  color: var(--ig-gray-600);
  height: max-content;
  min-width: min-content;
}
.avatar_1 {
  --ig-size: var(--ig-size-small);
  --igx-avatar-background: rgba(27, 95, 158, 0.2);
}
.icon_1 {
  color: var(--ig-primary-500);
}
.hyperlink_2 {
  color: var(--ig-primary-500);
  height: max-content;
  min-width: min-content;
}
.avatar_2 {
  --ig-size: var(--ig-size-small);
  --igx-avatar-background: transparent;
}
.icon_2 {
  color: var(--ig-gray-600);
}
.chip {
  margin: 4px 0 0;
  width: max-content;
  height: max-content;
}
.avatar_3::part(base) {
  --igx-avatar-color: var(--ig-success-500);
}
.avatar_1_1::part(base) {
  --igx-avatar-color: var(--ig-primary-500);
}
.avatar_2_1::part(base) {
  --igx-avatar-color: var(--ig-gray-600);
}
.avatar_2_2::part(base) {
  --igx-avatar-color: var(--ig-gray-600);
}
.category-chart {
  --brushes: #72B24D #9362A3 #F06583 #FCB13F #407DB7;
  --outlines: #72B24D #9362A3 #F06583 #FCB13F #407DB7;
  --marker-brushes: #72B24D #9362A3 #F06583 #FCB13F #407DB7;
  --marker-outlines: #72B24D #9362A3 #F06583 #FCB13F #407DB7;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.grid {
  --ig-size: var(--ig-size-medium);
  min-width: 248px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.list {
  height: max-content;
}
